body{
    color:white;
}

h1{
    margin-bottom: 5rem;
}

.constructors-grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:5rem;
  }
  
  .constructors-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
  }
  
  .constructors-card {
    border: 1px solid red;
    transition: 0.7s;
    line-height: 1.3;
    border-radius: 1rem;
    width: 16rem;
  }

  .constructors-card > img {
    width: 15rem;
    border-radius: 1rem;
    transition: 0.7s;
  }

  .constructors-card:hover{
    color:rgb(89, 194, 212);
    background-color: #171c2d;
    transform: scale(1.40);
  }

  .constructor-header{
    color:white;
    text-shadow: 4px 4px 4px rgba(255, 0, 0,0.5);
  }