.grid-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 10%;
  margin-top: 5%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2rem;
  margin-top: 7rem;
  margin-right: 2rem;
}

:root {
  --color: #308efe
}

.news-card{
  margin-top: 2%;
  margin-left: 2%;
  border-radius: 5%;
  transition: 0.5s;
  border: 1px solid red;
}

.news-card:hover{
  transform: scale(1.05);
  cursor:pointer;
}