.dashboard-title {
  text-shadow: 2px 2px 2px white;
  margin-top: 3%;
  color:black;
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  margin-bottom: 0.5rem;
  color:black;
}

.driver-selection {
  width: 22rem;
  padding: 10px;
  font-size: 16px;
  background-color: rgba(107, 107, 107, 0.7);
  padding: 1rem;
  border: 1px solid red;
  color: white;
  border-radius: 0.5rem;
  display: flex;
  margin-top: 20%;
}

.first-section{
  display: flex;
  flex-direction: row;
  margin-left: 15%;
  margin-top: 1%;
}

.standings-zone{
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.driver-info-fastest-lap {
  background-color: rgba(107, 107, 107, 0.7);
  padding: 0.5rem;
  border: 1px solid red;
  width: 18rem;
  line-height: 1;
  border-radius: 0.5rem;
  margin-left: 50%;
  display: flex;
  justify-content: space-evenly ;
  flex-direction: column;
  line-height: 1.5;
  margin-top: 10%;
}

.driver-pole-position {
  background-color: rgba(107, 107, 107, 0.7);
  padding: 0.5rem;
  border: 1px solid red;
  width: 18rem;
  line-height: 1;
  border-radius: 0.5rem;
  margin-left: 50%;
  display: flex;
  justify-content: space-evenly ;
  flex-direction: column;
  line-height: 1.5;
  margin-top: 9%;
}

.driver-unfinished-races {
  background-color: rgba(107, 107, 107, 0.7);
  padding: 0.5rem;
  border: 1px solid red;
  width: 18rem;
  line-height: 1;
  border-radius: 0.5rem;
  margin-left: 50%;
  display: flex;
  justify-content: space-evenly ;
  flex-direction: column;
  line-height: 1.5;
  margin-top: 10%;
}

.driver-info-average-qualify {
  background-color: rgba(107, 107, 107, 0.7);
  padding: 0.5rem;
  border: 1px solid red;
  width: 17rem;
  line-height: 1;
  border-radius: 0.5rem;
  margin-left: 28%;
  display: flex;
  justify-content: space-evenly ;
  flex-direction: column;
  line-height: 1.5;
  margin-bottom: 10%;
  margin-top: 10%;
}

.driver-info-average-position {
  background-color: rgba(107, 107, 107, 0.7);
  padding: 0.5rem;
  border: 1px solid red;
  width: 17rem;
  line-height: 1;
  border-radius: 0.5rem;
  margin-left: 28%;
  display: flex;
  justify-content: space-evenly ;
  flex-direction: column;
  line-height: 1.5;
  margin-bottom:10%;
}

.driver-positions-gained {
  background-color: rgba(107, 107, 107, 0.7);
  padding: 0.5rem;
  border: 1px solid red;
  width: 17rem;
  line-height: 1;
  border-radius: 0.5rem;
  margin-left: 28%;
  display: flex;
  justify-content: space-evenly ;
  flex-direction: column;
  line-height: 1.5;
}


.standings-section {
  height: 8.5rem;
  overflow-y: hidden;
  width: 25rem;
  transition: 1s;
  background-color: rgba(107, 107, 107, 0.7);
  padding: 0.5rem;
  border: 1px solid red;
  border-radius: 0.5rem;
  display: flex;
  font-size:1rem
}

.standings-section:hover {
  overflow-y: scroll;
}

.average-qual-pos{
  display: flex;
  flex-direction: column;
}

.fastestlap-dnf-pole{
  display: flex;
  flex-direction: column;
}


::-webkit-scrollbar {
  width: 0.8rem;
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background-color: #ff0000;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff0000;
}

::-webkit-scrollbar-thumb:active {
  background-color: #bb0000;
}

.driver-card {
  background-color: rgba(107, 107, 107, 0.7);
  padding: 1rem;
  border: 1px solid red;
  border-radius: 0.5rem;
}

.widget-f1 {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.second-section{
  display: flex;
  flex-direction: row;
  margin-left: 15%;
}

.auth{
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2;
  margin-top: 20%;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid red;
  padding: 1%;
  border-radius: 1rem;
  width: 15rem;
  margin-left: 45%;
  color:black;
}

.auth-button{
  background-color: red;
  color:white;
  padding:0.7rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  transition: 0.8s;
  margin-top: 0.5rem;
}

.auth-button:hover{
  background-color: black;
  color:red;
  border-color: white;
}

.no-auth{
  color:black;
  font-size: 18px;
}

.no-auth:hover{
  color:rgb(103, 0, 0);
}

.edit-header{
  color:black;
  text-shadow: 2px 2px 2px rgb(255, 255, 255);
  margin-top: 3%;
}

.edit-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid red;
  padding: 1%;
  border-radius: 1rem;
  width: 20rem;
  margin-left: 45%;
  color:black;
  margin-top:10%;
}

.edit-driver{
  background-color: red;
  color:white;
  padding:0.7rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  transition: 0.8s;
  margin-top:5%;
}

.edit-driver:hover{
  background-color: black;
  color:red;
  border-color: white;
}