.dashboard {
    position: absolute;
    top:0;
    left: 15rem;
    width:100%;
  }
  
  .dashboard-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  
  .section-title {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 3rem;
    left:4.7rem;
  }
  
  .driver-selection {
    width: 15rem;
    padding: 10px;
    font-size: 16px;
    position: absolute;
    top:8.2rem;
    right:18rem;
  }
  
  .driver-info-section {
    display: grid;
    grid-template-columns:(3, 1fr);
    grid-gap: 10px;
    background-color: brown;
    width:20rem;
    line-height: 1;
  }

  .standings-section{
    height: 10rem;
    overflow-y: hidden;
    width: 30rem;
    transition: 1s;
    background-color: rgb(31, 31, 31);
    padding: 1rem;
    border: 2px solid tan;
    position: absolute;
    left:4.7rem;
    top:8.2rem;
  }

  .standings-section:hover{
    overflow-y: scroll;
  }

  .driver-card {
    position: absolute;
    top: 25rem;
    left:5rem;
    background-color: rgb(31, 31, 31);
    padding: 1rem;
    border: 2px solid tan;
  }